/** Step one **/

/** Step two **/
h1,
h2 {
  font-family: jacquard 12;
}
/** Step three **/
h1 {
  font-size: 46px;
  letter-spacing: 1.75px;
  text-align: center;
  color: rgb(46, 17, 74);
}

/** Step four **/
p {
  font-family: danfo;
}

/** Step five **/
span {
    color: rgb(93, 19, 19);
  }
/** Step six **/
h3 {
  font-size: 50px;
  text-shadow: 4px 3px 4px rgba(0, 0, 0, 0.8);
}